.app-wrapper {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0b558e;
  padding: 1rem 2rem;
}

.navbar-logo {
  height: 60px;
  width: auto;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  color: #cdd6e0;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: white;
}

.active-link {
  color: white;
  border-bottom: 2px solid white;
}


body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .navbar-left {
    margin-bottom: 0.5rem;
  }

  .navbar-links {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }
}


