.app-wrapper {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background-color: #0b558e;
}

.navbar a {
  color: #cdd6e0;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: white;
}

.active-link {
  color: white;
  border-bottom: 2px solid white;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

