.image-grid-wrapper {
  background-color: #e3f2fd; /* azul claro */
  min-height: 100vh;
  padding-top: 2rem;
  color: rgb(32, 70, 116);
  text-align: center;
  width: 100vw;
}

.image-grid-wrapper h1 {
  margin-left: 3rem; /* Ajusta según lo que desees */
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
}

.image-grid-wrapper p {
  margin-left: 3rem; /* Ajusta según lo que desees */
  font-size: 0.8rem;
  text-align: left;
}

h4 {
  text-align: left;
  padding: 0; /* o los valores que necesites */
  padding-left: 3rem;
}



.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.image-card {
  cursor: pointer;
  text-align: center;
}

.image-thumbnail {
  width: 100%;
  border-radius: 8px;
}

